<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Linx Impulse</title>
</head>
<body>
    <header>
        <section>
            <h3>uma seleção de produtos</h3>
            <h1>especial para você</h1>
            <p>Todos os produtos desta lista foram selecionados a partir de sua navegação. Aproveite!</p>
        </section>
        <nav>
            <ul>
                <li><a>Conheça a Linx</a></li>
                <li><a>Ajude o algoritmo</a></li>
                <li><a>Seus produtos</a></li>
                <li><a>Compartilhe</a></li>
            </ul>
        </nav>
    </header>
    <section id="help-us">
        <article>
            <h3>Ajude o algoritmo a ser mais certeiro</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, nibh a dapibus pharetra, magna lacus ornare tellus, sodales rutrum velit nisl nec sem. Vivamus ullamcorper neque nec velit maximus placerat. Nunc dignissim justo ut lacus feugiat molestie. Maecenas ut velit eget augue ornare fermentum. Nullam urna erat, rutrum vel sodales in, accumsan a ipsum. Nam pretium lectus mi, vel elementum metus tempus eu. Aliquam erat volutpat. Suspendisse ut facilisis erat, nec scelerisque eros. Proin sapien nunc, tempus ac efficitur et, tempor id arcu. Aenean laoreet sagittis lobortis.</p>
            <p>Sed in porttitor tellus. Nullam ullamcorper varius sem, sit amet dictum nisl finibus at. Maecenas quis felis vitae sem fermentum aliquet ultrices vitae risus. Fusce nec erat nec odio fringilla laoreet at vel metus. Maecenas ut sapien sed orci eleifend pharetra. Praesent vel dictum diam. Suspendisse nec libero semper, cursus nisi eu, suscipit sem. Aliquam sollicitudin dui in ante fringilla, et consectetur justo aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </article>
        <form>
            <section id="data">
                <label for="name">Seu Nome:</label>
                <input type="text" name="name" id="name">
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf">
            </section>
            <section id="gender">
                <input type="radio" name="gender" value="masculino">
                <label for="masculino">Masculino</label>
                <input type="radio" name="gender" value="feminino">
                <label for="feminino">Feminino</label>
                <input type="radio" name="gender" value="outro">
                <label for="outro">Outro</label>
            </section>
            <section id="send">   
                <input type="submit" value="Enviar">
            </section> 
        </form>
    </section>
    <section id="display">
        <h3 class="line"><span>Sua seleção especial</span></h3>
        <article>
            <section>
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6829307" alt="">
                <h4>Nome do produto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus varius pellentesque.</p>
                <p>De: R$23,99</p>
                <h3>Por: R$19,99</h3>
                <p>ou 2x de R$9,99</p>
                <button type="button" onclick="alert('Adicionado ao carrinho!')">Comprar</button>
            </section> 
        </article>
        <button type="button" id="more-products">Ainda mais produtos aqui!</button>
    </section>
    <section id="friend-form">
        <h3 class="line"><span>Compartilhe a novidade</span></h3>
        <p>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</p>
        <form>
            <article>
                <section id="friend-name">
                    <label for="friend-name">Nome do seu amigo:</label>
                    <input type="text" name="friend-name" id="friend-name">
                </section> 
                <section id=friend-email>
                    <label for="friend-email">E-mail:</label>
                    <input type="text" name="friend-email" id="friend-email">
                </section>
            </article>
            <section id="friend-send">
                <input type="submit" value="Enviar agora">
            </section>
        </form>
    </section>
    <footer>
        <p>Testando suas habilidades em HTML, CSS e JS.</p>
        <p>Linx Impulse</p>
        <p>2019</p>
    </footer>
</body>
</html>