body {
    display: grid;
    grid-template-areas: "header" "help-us" "display" "invite" "footer";
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #888888;
    font-size: 1em;
}
/* Cabeçalho */
body header {
    display: grid;
    grid-area: header;
    grid-template-areas: "texto1" "navbar";
    padding-bottom: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
}
body header section h1 {
    margin-top: 0;
}
body header section {
    display:flex;
    flex-direction: column;
    place-items: center;

}
body header nav {
    grid-area: navbar;
}

body header nav ul {
    padding: 0;
    display:flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

body header nav ul li {
    background-color: #ffffff;
    color: #888888;
    padding:10px 30px;
    border-radius: 5px;
}

/* Help Us */
#help-us {
    display: grid;
    grid-area: help-us;
    grid-template-areas: "text form";
    grid-template-columns: 1fr 1fr;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 3vw;
}

#help-us article {
    grid-area: text;
}

#help-us form {
    grid-area: form;
    display: grid;
    grid-template-areas: "data" "gender" "send";
    grid-template-rows: 3fr 0.5fr 1fr;
}

#help-us form label{
    height: 2px;
}

#help-us form input{
    margin-bottom: 15px;
    height: 30px;
}

#data {
    grid-area: data;
    display:grid;
}

#gender {
    grid-area: gender;
    display: inline;
}

#send {
    grid-area: send;
}

#send input[type="submit"] {
    width: 100%;
    height: 50px;
}

/* Display */
#display {
    display: grid;
    grid-area: display;
    margin-left: 15vw;
    margin-right: 15vw;
    place-items: center;
}

body section#display article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* Produtos */
section#display article section img {
    width: 100%;
    height: auto;
}

section#display article section button {
    width: 100%;
    padding: 10px 24px;
}

#more-products {
    margin: 20px;
    margin-bottom: 50px;
    padding: 15px 60px;
}

/* Divisão */
.line {
    width: 100%;
    line-height: 0.1em;
    border-bottom: 2px solid #707070;
    text-align: center;
    margin: 30px;
}

span {
    background-color: #fff;
    padding: 0 10px;
}

/* Novidades */
#friend-form {
    display: grid;
    grid-area: invite;
    margin-left: 15vw;
    margin-right: 15vw;
    place-items: center;
}

#friend-form form {
    display: grid;
    grid-template-areas: "data" "send";
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

#friend-form form article {
    grid-area: data;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    gap: 20px;
}

#friend-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#friend-name input[type="text"]{
    width: 100%;
    height: 30px;
}

#friend-email {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#friend-email input{
    width: 100%;
}

#friend-send input[type="submit"] {
    padding:15px 100px;
}
/* Rodapé */
body footer{
    display: grid;
    place-items: center;
    padding-top: 25vh;
    clip-path: polygon(0 67%, 100% 29%, 100% 100%, 0 100%);
}

footer, header {
    color:#FFFFFF;
    background-color: #707070;
}

/* Fonts */
h1 {
    font-size: 3rem;
}

/* Botões */

button , input[type="submit"]{
    background-color: #ffffff;
    border: 2px solid #707070;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}
